// scss-docs-start gray-color-variables
$white:                      #fff !default;
$gray-100:                   #f8f9fa !default;
$gray-200:                   #e9ecef !default;
$gray-300:                   #dee2e6 !default;
$gray-400:                   #ced4da !default;
$gray-500:                   #adb5bd !default;
$gray-600:                   #6c757d !default;
$gray-700:                   #495057 !default;
$gray-800:                   #343a40 !default;
$gray-900:                   #212529 !default;
$black:                      #000 !default;


// scss-docs-start theme-color-variables
$primary:                 #002e5c;
$warning:                 #ffcc00;


// navbar 
$navbar-dark-color:                 $gray-300;
$navbar-dark-hover-color:           $white;
$navbar-nav-link-padding-x:         .85rem !default;

$link-decoration:                   none !default;


$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px,
    xxl: 1320px
) !default;



.topbar {
    border-bottom: 1px solid $gray-500;
    color: $white;
    font-size: 11px;
    a {
        color: $white;
        text-decoration: none;
        font-size: 11px;
    }
    .social-icons {
        a {
            width: 30px;
            text-align: center;
            display: block;
            border-right: 1px solid $gray-300;
        }
    }
}


.navbar {
    border-bottom: 7px solid $warning;
}


main {
    display: block;
    min-height: 100vh;
}

